{% extends 'base.html.twig' %}

{% block title 'Créer une Actualité' %}

{% block body %}

<div class="container mt-4">
    <a class="btn btn-primary" href="{{ path('actualite.index') }}"><i class="fas fa-clipboard-list">&nbsp;</i>Retour Liste des Actualités</a>
    <div class="tab">&nbsp;</div>
    {% for message in app.flashes('error') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}
    <h3>Nouvelle Actualité</h3>
    {{ form_errors(form) }}
    {{ form_start(form) }}
    <div class="row">
        <div class="col-md-3">{{ form_row(form.name) }}</div>
        <div class="col-md-6">{{ form_row(form.content) }}</div>
    </div>
    <div class="row">
        <div class="col-md-4">{{ form_row(form.startDate) }}</div>
        <div class="col-md-4">{{ form_row(form.endDate) }}</div>
    </div>
    <button class="btn btn-success"><i class="fas fa-plus-circle">&nbsp;</i>{{ button_label|default('Créer') }}</button>
    {{ form_end(form) }}
    <div class="tab">&nbsp;</div>
</div>
{% endblock %}