{% extends 'base.html.twig' %}

{% block title %}BACV - Sondage{% endblock %}

{% block body %}
    {% set nb = sondage.questions|length - 1 %} {# -1 car le tableau des Q démarre à 0 #}
    <div class="card text-center">
        <div class="card-header">
            Sondage
        </div>
        <div class="card-body">
            <h5 class="card-title">{{ sondage.title }}</h5>
            {% if cpt <= nb %}
            <p class="card-text">{{ sondage.questions[cpt].label }}</p>
                <div>
                    <form method="POST" action="/validationReponse">
                {% for choix in sondage.questions[cpt].choix %}
                    <input class="test" type="radio" id="{{ choix }}" name="choix" value="{{ choix }}">
                    <label for="{{ choix }}">{{ choix|capitalize }}</label>
                {% endfor %}
                    <input type="hidden" name="sondage" value="{{sondage.id}}">
                    <input type="hidden" name="question" value="{{sondage.questions[cpt].id}}">
                    <input type="hidden" name="cpt" value="{{ cpt }}">
                    <br><input type="submit" class="btn btn-primary" name="submit_form" value="Valider">
                    </form>
                </div>
            {% else %}
                Merci ! Sondage terminé
            {% endif %}
        </div>
    </div>
{% endblock %}