<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}BACV78{% endblock %}</title>
        <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="/style.css">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% set level = 'Z' %}
        {% if app.user %}
            {% set level = 'F' %}
            {% if app.user.category == 'Jeune' %}
                {% set level = 'E' %}
            {% endif %}
            {% if app.user.category == 'Loisir avec Interclub' %}
                {% set level = 'D' %}
            {% endif %}
            {% if app.user.category == 'Compétiteur' %}
                {% set level = 'C' %}
            {% endif %}
            {% if is_granted('ROLE_ADMIN') %}
                {% set level = 'B' %}
            {% endif %}
            {% if is_granted('ROLE_SUPER_ADMIN') %}
                {% set level = 'A' %}
            {% endif %}
        {% endif %}
        <nav class="navbar navbar-expand-md navbar-dark">
            <a href="{{ path('homepage') }}" class="navbar-brand"><img title="Accueil" src="/images/logo-BACV.png"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Vie du Club
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="{{ path('presentation') }}"><i class="fas fa-handshake">&nbsp;</i>Présentation et règlement</a>
                            <a class="dropdown-item" href="{{ path('event_calendar') }}"><i class="fas fa-calendar-alt">&nbsp;</i>Calendrier du Club</a>
                            <a class="dropdown-item" href="{{ path('medias') }}"><i class="fas fa-photo-video">&nbsp;</i>Photos et Vidéos</a>
                        </div>
                    </li>
                    <li class="nav-item {% if app.request.attributes.get('_route') == 'tournoi.index' %}active{% endif %}">
                        <a class="nav-link" href="{{ path('tournoi.index') }}"><i class="fas fa-trophy">&nbsp;</i>Tournois</a>
                    </li>
                    
                    <li class="nav-item dropdown {% if app.request.attributes.get('_route') == 'interclub.index' %}active{% endif %}">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Interclubs
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="{{ path('team.index') }}"><i class="fas fa-user-friends">&nbsp;</i>Equipes de Villepreux</a>
                            <a class="dropdown-item" href="{{ path('interclub.index') }}"><i class="fas fa-retweet">&nbsp;</i>Rencontres</a>
                            <a class="dropdown-item" href="{{ path('interclubVeteran.index') }}"><i class="fab fa-android">&nbsp;</i>Interclubs Vétéran</a>
                        </div>
                    </li>
                    <li class="nav-item {% if app.request.attributes.get('_route') == 'tropheejeunes' %}active{% endif %}">    
                        <a class="nav-link" href="{{ path('tropheejeunes') }}"><i class="fas fa-child">&nbsp;</i>Trophée Jeunes</a>
                    </li>
                    {% if level in ['A','B'] %}
                    <li class="nav-item {% if app.request.attributes.get('_route') == 'user.index' %}active{% endif %}">    
                        <a class="nav-link" href="{{ path('user.index') }}"><i class="fas fa-users">&nbsp;</i>Les Joueurs</a>
                    </li>
                    <li class="nav-item {% if app.request.attributes.get('_route') == 'article.index' %}active{% endif %}">    
                        <a class="nav-link" href="{{ path('article.index') }}"><i class="fas fa-blog">&nbsp;</i>Blog</a>
                    </li>
                    {% endif %}
                </ul>
                <ul class="navbar-nav navbar-right">
                {% if app.user %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-user-tag">&nbsp;</i>{{ app.user.firstName }} {{ app.user.lastName }}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="{{ path('moncompte') }}"><i class="fas fa-id-card">&nbsp;</i>Mon compte</a>
                            <a class="dropdown-item" href="{{ path('app_logout') }}"><i class="fas fa-sign-out-alt">&nbsp;</i>Se déconnecter</a>
                        </div>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_login') }}"><span class="glyphicon glyphicon-log-in"></span>
                            <i class="fas fa-user-slash">&nbsp;</i>Se connecter
                        </a>
                    </li>
                {% endif %}
                </ul>
            </div>
        </nav>

        {% block body %}{% endblock %}

        <!-- Footer -->
        <section id="footer">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-sm-auto">
                        <h4>Nos Sponsors</h4>
                    </div>
                    <div class="col-sm-auto">
                        <a href="https://www.lardesports.com/badminton.html" target="_blank">
                            <img src="/images/lardesports.png">
                        </a>
                    </div>
                    <div class="col-sm-auto">
                        <a href="https://www.cic.fr/fr/index.html" target="_blank">
                            <img src="/images/logo-cic.png">
                        </a>
                    </div>
                    <div class="col-sm-auto">
                        &nbsp;
                    </div>
                </div>
                <hr color="grey"/>
                <div class="row petit text-center text-xs-center text-sm-left text-md-left">
                    <div class="col-xs-12 col-sm-4">
                        <h5>Le Club</h5>
                        <ul class="list-unstyled quick-links">
                            <li><a href="{{ path('homepage') }}"><i class="fa fa-angle-double-right"></i>Accueil</a></li>
                            <li><a href="{{ path('presentation') }}"><i class="fa fa-angle-double-right"></i>Présentation du Club</a></li>
                            <li><a href="{{ path('event_calendar') }}"><i class="fa fa-angle-double-right"></i>Calendrier du Club</a></li>
                            <li><a href="{{ path('medias') }}"><i class="fa fa-angle-double-right"></i>Photos et Vidéos</a></li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <h5>Les Compétitions</h5>
                        <ul class="list-unstyled quick-links">
                            <li><a href="{{ path('team.index') }}"><i class="fa fa-angle-double-right"></i>Les Equipes de Villepreux</a></li>
                            <li><a href="{{ path('interclub.index') }}"><i class="fa fa-angle-double-right"></i>Les Rencontres Interclubs</a></li>
                            <li><a href="{{ path('tropheejeunes') }}"><i class="fa fa-angle-double-right"></i>Compétitions Jeunes</a></li>
                            <li><a href="{{ path('tournoi.index') }}"><i class="fa fa-angle-double-right"></i>Les Tournois</a></li>
                            <li><a href="{{ path('interclubVeteran.index') }}"><i class="fa fa-angle-double-right"></i>Interclubs Vétéran</a></li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <h5>Pour aller plus loin</h5>
                        <ul class="list-unstyled quick-links">
                            {% if level in ['A','B'] %}
                            <li><a href="{{ path('article.index') }}"><i class="fa fa-angle-double-right"></i>Le Blog du Club</a></li>
                            <li><a href="{{ path('user.index') }}"><i class="fa fa-angle-double-right"></i>Les Joueurs de Villepreux</a></li>
                            {% endif %}
                            <li><a href="https://www.facebook.com/BACVillepreux/" target="_blank"><i class="fa fa-angle-double-right"></i>La Page Facebook du Club</a></li>
                            <li><a href="https://www.youtube.com/channel/UClajQwyNBJSgjJeIe5R8WaA/" target="_blank"><i class="fa fa-angle-double-right"></i>La Chaine Youtube du Club</a></li>
                            <li><a href="mailto:bacv78.villepreux@gmail.com" target="_blank"><i class="fa fa-angle-double-right"></i>Nous Contacter par Email</a></li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
                        <ul class="list-unstyled list-inline social text-center">
                            <li class="list-inline-item"><a title="Notre page Facebook" href="https://www.facebook.com/BACVillepreux/" target="_blank"><i class="fab fa-facebook-square">&nbsp;</i></a></li>
                            <li class="list-inline-item"><a title="Notre chaine Youtube" href="https://www.youtube.com/channel/UClajQwyNBJSgjJeIe5R8WaA/" target="_blank"><i class="fab fa-youtube">&nbsp;</i></a></li>
                            <li class="list-inline-item"><a title="Contactez-nous par E-mail" href="mailto:bacv78.villepreux@gmail.com" target="_blank"><i class="fa fa-envelope">&nbsp;</i></a></li>
                        </ul>
                    </div>
                    </hr>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
                        <p class="h6">&copy {{ 'now'|date('Y') }}<a class="text-green ml-2" href="https://www.bacv78.fr" target="_blank">Badminton Club de Villepreux</a></p>
                    </div>
                    </hr>
                </div>	
            </div>
        </section>
        <!-- ./Footer -->

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
