{% extends 'base.html.twig' %}

{% block title 'Blog' %}

{% block body %}

<div class="container mt-4">
    <h1>Liste des articles</h1>
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Contenu</th>
            </tr>
        </thead>
        <tbody>
            {% for article in articles %}
            <tr>
                <td>{{ article.title }}</td>
                <td>
                    <a href="{{ path('article.edit', {slug: article.slug}) }}" class="btn btn-secondary">Modifier</a>
                    <form method="POST" action="{{ path('article.delete', {slug: article.slug}) }}"
                        style="display:inline-block" onsubmit="return confirm('Etes-vous sûr ?')">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ article.slug) }}">
                        <button class="btn btn-danger">Supprimer</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="text-right">
        <a href="{{ path('article.new') }}" class="btn btn-primary">
        Créer un nouvel article</a>
    </div>
</div>
{% endblock %}
