{% extends 'base.html.twig' %}

{% block title 'Reset' %}

{% block body %}
<div class="w-50 p-2 mx-auto">
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    <a class="btn btn-primary" href="{{ path('user.index') }}"><i class="far fa-address-book">&nbsp;</i>Retour Liste des joueurs</a>
    <div class="tab">&nbsp;</div>
    <h3>Réinitialiser le mot de passe de <small class="text-muted">`{{ user.username }}`</small></h3>

    {{ form_start(formResetUser) }}
    <div class="row">
        <div class="col-md-4">{{ form_row(formResetUser.userName, {'label':'Identifiant'}) }}</div>
    </div>
    <div class="row">
        <div class="col-md-auto">{{ form_row(formResetUser.firstName, {'label':'Prénom'}) }}</div>
        <div class="col-md-auto">{{ form_row(formResetUser.lastName, {'label':'Nom'}) }}</div>
    </div>
    <button class="btn btn-primary">{{ button|default('Reset') }}</button>
    {{ form_end(formResetUser) }}

</div>
{% endblock %}



